ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact:nth-child(even) {
  background-color: #e0e0e0;
}